
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

	<img src="~/images/35579acf3576e9d.jpg" />
    <h1 class="display-4" style="color: blue;">Welcome</h1>
@*    <h1 class="display-4">Welcome To The World Of Cinemas</h1>
*@	@*<center nav>
	<img src="~/images/movie-ticket-booking-online.jpg" width="400" height="300"  />
    </center>*@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">My movie page OMTBS</a>.</p>
</div>
